.description-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80vh;
  min-height: 80vh;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(80%, rgba(0, 0, 0, 0.75))
  );
  background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.75) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#80000000",GradientType=0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 1681px) {
  .description-box {
    height: 745px;
    min-height: 745px;
  }
}
@media (max-width: 1281px) {
  .description-box {
    height: 575px;
    min-height: 575px;
  }
}
@media (max-width: 1025px) {
  .description-box {
    height: 420px;
    min-height: 420px;
  }
}
@media (max-width: 769px) {
  .description-box {
    height: 350px;
    min-height: 350px;
  }
}
@media (max-width: 650px) {
  .description-box {
    height: 80vh;
    min-height: 80vh;
  }
}
@media (max-width: 415px) {
  .description-box {
    height: 85vh;
    min-height: 85vh;
  }
}
.description-box .description {
  width: 800px;
  text-align: center;
  top: 90%;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-90%);
  transform: translateX(-50%) translateY(-90%);
  font-family: 'Roboto','Noto Sans TC', sans-serif;
}
@media (max-width: 1300px) {
  .description-box .description {
    width: 80%;
  }
}
@media (max-width: 650px) {
  .description-box .description {
    width: 85%;
    top: 90%;
    left: 50%;
    position: relative;
    -webkit-transform: translateX(-50%) translateY(-90%);
    transform: translateX(-50%) translateY(-90%);
  }
}
.description-box .description .cotittle {
  font-size: 18px;
  color: #fff;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: lighter;
  height: 55px;
}
@media (max-width: 650px) {
  .description-box .description .cotittle {
    text-align: justify;
    -webkit-line-clamp: 2;
    font-weight: lighter;
    height: 50px;
    font-weight: 400;
  }
}
.description-box .description a {
  cursor: pointer;
}
.description-box .description p {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  padding-bottom: 20px;
  color: #fff;
  line-height: 2.5rem;
  text-shadow: 2px 2px 12px #000;
}
@media (max-width: 1025px) {
  .description-box .description p {
    font-size: 25px;
    padding-bottom: 10px;
  }
  .description-box .description .cotittle {
    font-size: 16px;
  }
}
@media (max-width: 650px) {
  .description-box .description p {
    font-size: 24px;
    padding-bottom: 0;
    line-height: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin-bottom: 6px;
  }
}
.owl-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 15;
  width: 100%;
}
.owl-prev {
  background-image: url(../images/leftArrow.png);
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
  color: transparent;
  background-color: hsla(0, 0%, 100%, 0.23);
  position: absolute;
  left: 0;
}
@media (max-width: 650px) {
  .owl-prev {
    width: 20px;
    height: 20px;
  }
}
.owl-next {
  background-image: url(../images/rightArrow.png);
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
  color: transparent;
  background-color: hsla(0, 0%, 100%, 0.23);
  position: absolute;
  right: 0;
}
@media (max-width: 650px) {
  .owl-next {
    width: 20px;
    height: 20px;
  }
}
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
.owl-carousel {
  display: none;
  width: 100%;
  padding-top: 50px;
  z-index: 1;
  overflow: hidden;
  min-height: 80vh;
}
.owl-carousel,
.owl-carousel .item {
  background-color: #000;
}
.owl-carousel .item video {
  width: 100%;
  height: 60vh;
}
@media (max-width: 1025px) {
  .owl-carousel .item video {
    height: 35vh;
  }
}
@media (max-width: 650px) {
  .owl-carousel .item video {
    height: 180px;
  }
}
.owl-mousewheel {
  z-index: 1;
  overflow: hidden;
}
.owl-mousewheel .owl-stage-outer {
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
  position: relative;
  overflow: hidden;
  height: 50px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@media (max-width: 650px) {
  .owl-mousewheel .owl-stage-outer {
    height: 46px;
  }
}
.owl-mousewheel .owl-stage-outer .owl-item {
  float: left;
  color: #fff;
}
.owl-mousewheel .owl-dots,
.owl-mousewheel .owl-nav {
  display: none;
}
@media (max-width: 650px) {
  .owl-mousewheel .owl-nav {
    display: block;
    position: relative;
  }
  .owl-mousewheel .owl-nav .owl-prev {
    background-image: url(../images/tab-leftArrow.png);
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    color: transparent;
    background-color: hsla(0, 0%, 100%, 0.23);
    position: absolute;
    background-color: hsla(0, 0%, 100%, 0);
    top: -33px;
  }
}
@media (max-width: 650px) and (max-width: 650px) {
  .owl-mousewheel .owl-nav .owl-prev {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 650px) {
  .owl-mousewheel .owl-nav .owl-next {
    background-image: url(../images/tab-rightArrow.png);
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    color: transparent;
    background-color: hsla(0, 0%, 100%, 0.23);
    position: absolute;
    background-color: hsla(0, 0%, 100%, 0);
    top: -33px;
  }
}
@media (max-width: 650px) and (max-width: 650px) {
  .owl-mousewheel .owl-nav .owl-next {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 650px) {
  .owl-mousewheel {
    width: 100%;
  }
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  height: 80vh;
  min-height: 80vh;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 1681px) {
  .owl-carousel .owl-stage-outer, .owl-carousel {
    height: 745px;
    min-height: 745px;
  }
}
@media (max-width: 1281px) {
  .owl-carousel .owl-stage-outer, .owl-carousel {
    height: 575px;
    min-height: 575px;
  }
}
@media (max-width: 1025px) {
  .owl-carousel .owl-stage-outer, .owl-carousel {
    height: 420px;
    min-height: 420px;
  }
}
@media (max-width: 769px) {
  .owl-carousel .owl-stage-outer, .owl-carousel {
    height: 350px;
    min-height: 350px;
  }
}
@media (max-width: 650px) {
  .owl-carousel .owl-stage-outer, .owl-carousel {
    height: 80vh;
    min-height: 80vh;
  }
}
@media (max-width: 415px) {
  .owl-carousel .owl-stage-outer, .owl-carousel {
    height: 85vh;
    min-height: 85vh;
  }
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  width: 100%;
}
.indexKv_pc {
  display: block;
}
.indexKv_mb {
  display: none;
}
@media (max-width: 650px) {
  .owl-carousel .owl-item img {
    width: 100%;
  }
  .indexKv_pc {
    display: none;
  }
  .indexKv_mb {
    display: block;
  }
}
.owl-carousel,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
.owl-carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.owl-height {
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(../images/owl.video.play.png)
    no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.tab {
  background-color: #000;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  width: 100% !important;
  z-index: 10;
  min-height: 50px;
  position: absolute;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
@media (max-width: 650px) {
  .tab {bottom: auto;}
}
.tab ul li {
  text-align: center;
  cursor: pointer;
  line-height: 45px;
  position: relative;
  z-index: 1;
}
.tab ul li::before{
  content: "";
  position: absolute;
  top: initial;
  left: 0;
  bottom: -55px;
  right: initial;
  width: 100%;
  height: 0px;
  background-color: #3c00b4 ;
  transition: 0.4s;
  z-index: 0;
}
.tab ul li:hover::before {
  bottom: -5px;
  height: 50px;
}

@media (max-width: 650px) {
  .tab ul li {
    text-align: center;
    line-height: 42px;
  }
}
.tab ul li a {
  -webkit-transition: all 1s;
  transition: all 1s;
  line-height: 25px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 1;
}
@media (max-width: 650px) {
  .tab ul li a {
    font-size: 12px;
    border-bottom: none;
  }
}
.Album {
  height: 422px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
@media (max-width: 1300px) {
  .Album {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}
@media (max-width: 650px) {
  .Album {
    height: auto;
  }
}
@media (max-width: 1300px) {
  .Album img {
    display: block;
  }
}
@media (max-width: 650px) {
  .Album img {
    width: 100%;
    display: block;
  }
}
.Album a:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.Album .description {
  width: 330px;
  position: absolute;
  top: 0;
  right: 0;
  height: 422px;
  background-color: #111;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1300px) {
  .Album .description {
    height: 200px;
    position: relative;
    width: 100%;
    justify-content: flex-start;
  }
}
@media (max-width: 650px) {
  .Album .description {
    width: 100%;
    height: auto;
    position: static;
    background-color: #000;
  }
}
.Album .description .box {
  padding: 0 25px;
  position: relative;
}
@media (max-width: 1300px) {
  .Album .description .box {
  }
}
@media (max-width: 650px) {
  .Album .description .box {
    padding: 25px;
  }
}
.Album .description .box .tittle {
  color: #fff;
}
.Album .description .box .tittle:hover {
  color: #3c00b4;
}
.Album .description .box .descript {
  color: #fff;
  line-height: 24px;
  text-align: justify;
}
.Album .description ul.breadCrumbs li {
  display: inline-block;
  position: relative;
  font-size: 15px;
}
.Album .description ul.breadCrumbs li + li:before {
  content: " > ";
  font-size: inherit;
  color: #1ea0c3;
}
.Album .description ul.breadCrumbs li a {
  color: #1ea0c3;
  font-size: 15px;
  font-weight: 400;
}
.Album .description ul.breadCrumbs li a:hover {
  color: #3c00b4;
}
.Album .description .article-icon {
  /* position: absolute;
  bottom: 40px;
  width: 100%; */
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 10px;
}
@media (max-width: 1300px) {
  .Album .description .article-icon {
    bottom: 20px;
  }
}
@media (max-width: 650px) {
  .Album .description .article-icon {
    position: inherit;
    padding-bottom: 20px;
  }
}
.Album .description .article-icon time {
  color: #989898;
  position: absolute;
  right: 0;
  padding-right: 25px;
  line-height: 25px;
}
.Album .description .article-icon .icon-fb {
  display: none;
  height: 22px;
  width: 22px;
  border: none;
  background-color: #989898;
  margin: 0 10px;
  vertical-align: top;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-mask: url(../images/facebook.svg)
    no-repeat center center;
  -webkit-mask-size: 100%;
  margin-left: 25px;
}
.Album .description .article-icon .icon-fb:hover {
  background-color: #1ea0c3;
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .Album .description .article-icon .icon-fb {
    background: url(../images/article-fb.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
@supports (-ms-ime-align: auto) {
  .Album .description .article-icon .icon-fb {
    background: url(../images/article-fb.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
.Album .description .article-icon .icon-line {
  display: none;
  height: 22px;
  width: 22px;
  border: none;
  background-color: #989898;
  margin: 0 10px;
  vertical-align: top;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-mask: url(../images/line-messenger.svg)
    no-repeat center center;
  -webkit-mask-size: 100%;
}
.Album .description .article-icon .icon-line:hover {
  background-color: #1ea0c3;
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .Album .description .article-icon .icon-line {
    background: url(../images/article-line-messenger.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
@supports (-ms-ime-align: auto) {
  .Album .description .article-icon .icon-line {
    background: url(../images/article-line-messenger.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
.Album .description .article-icon a:before {
  width: 20px;
  height: 100%;
  left: 70px;
  top: 0;
  z-index: 999;
}
.item-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow: hidden;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: space-between;
  margin: 0 ;
}
@media (max-width: 1300px) {
  .item-flex {
    margin: 0;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.item-flex .article-item {
  width: calc(100% / 3 - 15px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background-color: hsla(0, 0%, 100%, 0);
  overflow: hidden;
  margin-bottom: 20px;
  margin-right: 15px;
}
@media (min-width: 767px){
  .item-flex>article:nth-child(3n) {
      margin-right: 0;
  }
}
@media (max-width: 640px) {
  .item-flex .article-item {
    margin-top: 40px;
  }
}
@media (max-width: 1300px) {
  .item-flex .article-item {
    margin-bottom: 0;
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }
}
.item-flex .article-item:before {
  content: "1";
  width: 100%;
  height: 100%;
  z-index: -1;
  color: hsla(0, 0%, 100%, 0);
  background-color: #fff;
  position: absolute;
}
@media (max-width: 1300px) {
  .item-flex .article-item:before {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .item-flex .article-item:before {
    width: 100%;
  }
}
.item-flex .article-item p {
  line-height: 24px;
  height: 48px;
  width: 100%;
  text-align: justify;
  font-weight: 300;
}
@media (max-width: 650px) {
  .item-flex .article-item p {
    font-weight: 400;
  }
}
.item-flex .article-item .data-info {
  padding: 10px 18px 20px;
  height: 185px;
  margin-top: 5px;
}
@media (max-width: 1300px) {
  .item-flex .article-item .data-info {
    height: 140px;
  }
}
@media (max-width: 650px) {
  .item-flex .article-item .data-info {
    height: 185px;
  }
}
.item-flex .article-item .data-info a {
  color: #1ea0c3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 650px) {
  .item-flex .article-item .data-info a {font-weight: 400;}
}
.item-flex .article-item .data-info a:hover {
  color: #3c00b4;
}
.item-flex .article-item .data-info a h3 {
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 20px;
  letter-spacing: 0;
}
.item-flex .article-item .data-info a h3:hover {
  color: #1ea0c3;
}
.navi-pages {
  width: 100%;
  line-height: 24px;
  font-size: 12px;
  display: block;
  float: left;
  font-family: Verdana;
  position: relative;
  height: 100px;
}
.navi-pages .incenter {
  position: absolute;
  z-index: 4;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.navi-pages .incenter a,
.navi-pages .incenter span {
  float: none;
  padding: 4px 5px;
  line-height: 18px;
  height: 18px;
  margin: 0 0 10px 4px;
  display: inline-block;
}
.navi-pages .incenter a.current,
.navi-pages .incenter span.current {
  background-color: #1ea0c3;
  border: 1px solid #1ea0c3;
  color: #fff;
}
.navi-pages .incenter a {
  background-color: #fff;
  border: 1px solid #e6e4e4;
}
.dosearch-box .form {
  width: 250px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 30px;
}
.dosearch-box .form input[type="search"] {
  display: block;
  float: left;
  color: #000;
  font-size: 15px;
  width: 222px;
  padding-left: 5px;
  text-align: left;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff no-repeat 2vw;
  border-radius: 0;
}
.dosearch-box .form input[type="search"]::-webkit-input-placeholder {
  color: #1e1e1e;
}
.dosearch-box .form input[type="search"]:-moz-placeholder,
.dosearch-box .form input[type="search"]::-moz-placeholder {
  color: #1e1e1e;
}
.dosearch-box .form input[type="search"]:-ms-input-placeholder {
  color: #1e1e1e;
}
.dosearch-box .form input[type="search"].isFocus {
  width: 55vw;
}
.dosearch-box .form input[type="button"] {
  display: none;
  float: left;
  width: 18vw;
  height: 10vh;
  background: #565454;
  margin: 0 0 0 2vw;
}
.dosearch-box .form .delete_btn {
  display: none;
  position: relative;
  width: 5vw;
  height: 5vh;
  background: #1e1e1e;
  background-size: 100% auto;
  position: absolute;
  top: 4.5vw;
  left: 52vw;
  z-index: 99;
  border-radius: 99em;
}
.dosearch-box .form .delete_btn:before {
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%);
  -webkit-transform-origin: top left;
  transform-origin: top left;
}
.dosearch-box .form .delete_btn:after,
.dosearch-box .form .delete_btn:before {
  content: "";
  width: 3vw;
  height: 1px;
  background: #fff;
  border-radius: 99px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.dosearch-box .form .delete_btn:after {
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  transform: rotate(-45deg) translate(-50%, -50%);
  -webkit-transform-origin: top left;
  transform-origin: top left;
}
.dosearch-box .simg {
  background-color: #000 !important;
  border: 2px solid #000;
  height: auto;
  overflow: hidden;
  width: 30px;
}
.tab-wrapper {
  margin: 20px auto;
  width: 100%;
}
.tab-wrapper .tab-menu {
  height: 60px;
}
.tab-wrapper li {
  border-radius: 0.25em 0.25em 0 0;
  color: #000;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 1em;
  height: 2.5em;
  line-height: 2.5em;
  margin-right: 0.25em;
  padding: 0 1.5em;
  text-align: center;
}
.tab-wrapper li.active {
  color: #3c00b4;
  font-weight: 700;
  border-bottom: 2px solid #3c00b4;
}
.tab-content {
  position: relative;
  width: 100%;
}
.tab-content .dosearch-article {
  margin-bottom: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  height: auto;
  overflow: hidden;
}
@media (max-width: 650px) {
  .tab-content .dosearch-article {
    margin-bottom: 10px;
    height: auto;
  }
}
.tab-content .dosearch-article .dosearch-left {
  margin-right: 1em;
  float: left;
  width: 194px;
  height: auto;
  overflow: hidden;
  position: relative;
}
@media (max-width: 650px) {
  .tab-content .dosearch-article .dosearch-left {
    display: none;
  }
}
.tab-content .dosearch-article .dosearch-left img {
  float: left;
  width: 100%;
}
.tab-content .dosearch-article .dosearch-right {
  float: left;
  width: calc(100% - 223px);
}
@media (max-width: 650px) {
  .tab-content .dosearch-article .dosearch-right {
    background-color: #fff;
    padding: 15px;
    width: calc(100% - 30px);
  }
}
.tab-content .dosearch-article .dosearch-right h3 {
  text-align: justify;
  font-size: 20px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  white-space: pre-wrap;
}
.tab-content .dosearch-article .dosearch-right .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tab-content .dosearch-article .dosearch-right .date time {
  position: absolute;
  left: 99%;
  -webkit-transform: translateX(-99%);
  transform: translateX(-99%);
  width: 100px;
}
@media (max-width: 650px) {
  .tab-content .dosearch-article .dosearch-right .date time {
    left: 95%;
    -webkit-transform: translateX(-95%);
    transform: translateX(-95%);
  }
}
.tab-content .dosearch-article .dosearch-right p {
  line-height: 20px;
  text-align: justify;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  white-space: pre-wrap;
}
ul.breadCrumbs.left-line {
  border-left: 3px solid #3c00b4;
  margin-top: 10px;
  min-height: 15px;
}
@media (max-width: 650px) {
  ul.breadCrumbs.left-line {
    margin-top: 0;
  }
}
ul.breadCrumbs li {
  display: inline-block;
  position: relative;
  font-size: 15px;
  font-weight: 700;
}
ul.breadCrumbs li + li:before {
  content: " > ";
  font-size: inherit;
  color: #111;
  font-weight: 200;
}
ul.breadCrumbs li a {
  color: #111;
  font-size: 15px;
}
@media (max-width: 650px) {
  ul.breadCrumbs li a {
    font-weight: 400;
  }
}
ul.breadCrumbs li a:hover {
  color: #1ea0c3;
}
ul.breadCrumbs li:first-child {
  padding-left: 10px;
}
.channalGroup {
  margin: 20px auto;
}
@media (max-width: 1025px) {
  .channalGroup {
    margin: 10px auto;
  }
}
.channalGroup .left {
  width: 100%;
  min-height: 413px;
  background-color: #fff;
}
@media (max-width: 1025px) {
  .channalGroup .left {
    min-height: 60.3vw;
  }
}
.channalGroup .right {
  background-color: #fff;
  padding-top: 20px;
  -webkit-box-shadow: 0 6px 3px rgba(0, 0, 0, 0.03);
  box-shadow: 0 6px 3px rgba(0, 0, 0, 0.03);
}
.channalGroup .right .include .center {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}
.channalGroup .right .include .center a {
  color: #1ea0c3;
}
.channalGroup .right .include .center a:hover {
  color: #3c00b4;
}
.channalGroup .right .include .center a h3 {
  color: #000;
}
.channalGroup .right .include .center a h3:hover {
  color: #1ea0c3;
}
@media (max-width: 1025px) {
  .channalGroup .right .include .center {
    width: 90%;
  }
}
.channalGroup .right .include .center p {
  line-height: 20px;
  overflow: hidden;
  padding-bottom: 20px;
}
.channalGroup h3 {
  font-size: 25px;
  padding-bottom: 15px;
}
.channalGroup .article-icon {
  display: none!important;
  width: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.channalGroup .article-icon time {
  position: absolute;
  right: 0;
  top: 5px;
}
.channalGroup .icon-line {
  display: inline-block;
  height: 28px;
  width: 28px;
  border: none;
  background-color: #989898;
  margin-top: 0;
  margin-left: -5px;
  vertical-align: top;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-right: 30px;
  -webkit-mask: url(../images/line-messenger.svg)
    no-repeat center center;
  -webkit-mask-size: 100%;
}
.channalGroup .icon-line:hover {
  background-color: #1ea0c3;
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .channalGroup .icon-line {
    background: url(../images/article-line-messenger.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
@supports (-ms-ime-align: auto) {
  .channalGroup .icon-line {
    background: url(../images/article-line-messenger.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
.channalGroup .icon-fb {
  display: inline-block;
  height: 28px;
  width: 28px;
  border: none;
  background-color: #989898;
  margin-top: 0;
  margin-left: -5px;
  vertical-align: top;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-right: 30px;
  -webkit-mask: url(../images/facebook.svg)
    no-repeat center center;
  -webkit-mask-size: 100%;
}
.channalGroup .icon-fb:hover {
  background-color: #1ea0c3;
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .channalGroup .icon-fb {
    background: url(../images/article-fb.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
@supports (-ms-ime-align: auto) {
  .channalGroup .icon-fb {
    background: url(../images/article-fb.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
@media (max-width: 1025px) {
  section.article-header,
  section.article-header img {
    width: 100%;
  }
}
section.article-header .source {
  font-size: 13px;
  color: #636569;
  padding: 10px 0;
  line-height: 1.6;
  letter-spacing: 0;
  text-align: justify;
}
section.article-header .source span + span {
  margin: 12.5px 0 0 2.5px;
  color: #939ea7;
}
.informationArea {
  padding: 10px 0;
  border-bottom: 1px solid #989898;
  border-top: 1px solid #989898;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.informationArea .icon-line {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: none;
  background-color: #04b800;
  margin-top: 0;
  margin-left: -5px;
  vertical-align: top;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-right: 20px;
  -webkit-mask: url(../images/line-messenger.svg)
    no-repeat center center;
  -webkit-mask-size: 100%;
  margin-top: 2px;
}
.informationArea .icon-line:hover {
  background-color: #039c00;
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .informationArea .icon-line {
    background: url(../images/article-line-messenger.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
@supports (-ms-ime-align: auto) {
  .informationArea .icon-line {
    background: url(../images/article-line-messenger.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
.informationArea .icon-fb {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: none;
  background-color: #45629e;
  margin-top: 0;
  margin-left: -5px;
  vertical-align: top;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-right: 13px;
  -webkit-mask: url(../images/facebook.svg)
    no-repeat center center;
  -webkit-mask-size: 100%;
  margin-left: 10px;
  margin-top: 2px;
}
.informationArea .icon-fb:hover {
  background-color: #193f8d;
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .informationArea .icon-fb {
    background: url(../images/article-fb.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
@supports (-ms-ime-align: auto) {
  .informationArea .icon-fb {
    background: url(../images/article-fb.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
.informationArea time {
  position: absolute;
  right: 10px;
  color: #636569;
}
@media (max-width: 340px) {
  .informationArea {
    padding: 10px 0;
    margin: 10px 0;
    display: block;
  }
  .informationArea .icon {
    padding: 0 0 10px;
  }
  .informationArea time {
    position: relative;
    right: auto;
    padding: 12px;
  }
}
.authorType {
  font-size: 15px;
}
.authorInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin-top: 25px;
  line-height: 1.6rem;
}
.authorInfo li {
  color: #989898;
}
.authorInfo a {
  padding: 0 10px 0 0;
  color: #444;
}
.authorInfo a:hover {
  color: #3c00b4;
}
section.nevin {
  clear: both;
}
section.nevin .trackSection .sp_word{
  margin: 45px 0 20px 0;
  color: #3a089c;
  font-weight: 400;
}
section.nevin .trackSection h2{
  margin-top: 45px;
}
section.nevin .introduction {
  line-height: 1.9;
  margin: 1.85em 0;
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
  color: #000000;
}
@media (max-width: 650px) {
  section.nevin .introduction {
    font-weight: 500;
  }
}
section.nevin iframe {
  max-width: 100% !important;
}
section.nevin p {
  font-size: 18px;
  line-height: 1.9;
  margin: 1.9rem 0;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-word;
  letter-spacing: 0;
  color: #444;
  font-weight: 300;
  letter-spacing: 0.6px;
}
@media (max-width: 650px) {
  section.nevin p {
    font-weight: 400;
  }
}
section.nevin p em {
  font-style: italic;
}
section.nevin p span.source {
  display: block;
  color: #636569 !important;
  line-height: 1.35;
  font-size: 13px;
  line-height: 1.6;
  letter-spacing: 0;
  text-align: justify;
}
section.nevin p a {
  color: #1ea0c3;
  border-bottom: 1px #1ea0c3 solid;
}
section.nevin p a:hover {
  color: #3c00b4;
  border-bottom: 1px #3c00b4 solid;
}
section.nevin p strong {
  font-weight: 500;
}
section.nevin img {
  text-align: center;
  max-width: 100% !important;
  height: auto !important;
}

section.nevin hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #e3e3e2;
}
.authorDetail,
.nevin .authorDetail {
  vertical-align: middle;
  overflow: hidden;
  margin: auto;
  padding: 50px 40px;
  max-width: 76%;
  position: relative;
}
.authorDetail:before,
.nevin .authorDetail:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-style: solid;
  border-width: 1px;
  border-top-color: #44a4c4;
  border-bottom-color: #4440;
  border-left-color: #44a4c4;
  border-right-color: #4440;
  top: 30px;
  left: 0;
}
.authorDetail:after,
.nevin .authorDetail:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-style: solid;
  border-width: 1px;
  border-top-color: #4440;
  border-bottom-color: #44a4c4;
  border-left-color: #4440;
  border-right-color: #44a4c4;
  bottom: 0;
  right: 0;
}
.authorDetail .pic,
.nevin .authorDetail .pic {
  position: relative;
  width: 97px;
  height: 97px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}
.authorDetail .txt,
.nevin .authorDetail .txt {
  position: relative;
  width: 300px;
  max-width: 100%;
  margin: auto;
}
.authorDetail .txt h2,
.nevin .authorDetail .txt h2 {
  font-size: 22px;
  padding-top: 10px;
  padding-left: 0;
  padding-bottom: 0;
  margin: 0;
  border: 0;
  text-align: center;
  line-height: 1.6rem;
}
.authorDetail .txt h3,
.nevin .authorDetail .txt h3 {
  font-size: 17px;
  padding-top: 5px;
  padding-left: 0;
  padding-bottom: 12px;
  margin: 0;
  border: 0;
  text-align: center;
  font-weight: 400;
}
.nevin .authorDetail .txt h3 a,
.nevin .authorDetail .txt h3 a:hover{
  text-decoration: none;
  cursor: initial;
  font-weight: 400;
}
@media (max-width: 767px) {
  .authorDetail .txt h2,
  .nevin .authorDetail .txt h2 {
    padding-top: 6px;
    padding-left: 0;
    padding-bottom: 12px;
  }
}
.authorDetail .txt p,
.nevin .authorDetail .txt p {
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
}
.authorDetail .txt a,
.nevin .authorDetail .txt a {
  color: #1ea0c3;
}
.authorDetail .txt a:hover,
.nevin .authorDetail .txt a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.nevin .authorDetail .txt h3 a,
.nevin .authorDetail .txt h3 a:hover{
  text-decoration: none;
  cursor: initial;
}
section.nevin blockquote > p {
  font-size: 17px !important;
  line-height: 1.8;
  font-weight: 700;
}
blockquote > p:before,
q:before {
  content: "\201C";
  line-height: 0.8;
  top: -10px;
  left: -5px;
}
blockquote > p:after,
blockquote > p:before,
q:after,
q:before {
  font-family: Georgia, serif;
  color: #3c00b4;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
}
blockquote > p:after,
q:after {
  content: "\201D";
  line-height: 0.6;
  bottom: -10px;
  right: -5px;
}
@media (max-width: 767px) {
  blockquote > p {
    font-size: 17px !important;
    line-height: 1.8;
    font-weight: 700;
  }
  blockquote > p:after,
  q:after {
    content: "\201D";
    color: #3c00b4;
    font-size: 40px;
    font-weight: 700;
    line-height: 0.6;
  }
}
blockquote {
  margin: 60px auto;
  padding: 0 20px;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-wrap: break-word;
  word-break: break-all;
  position: relative;
  width: 460px;
}
@media (max-width: 415px) {
  blockquote {
    width: 300px;
  }
  blockquote > p:after, q:after {
    bottom: -20px;
  }
}
@media (max-width: 376px) {
  blockquote {
    width: 280px;
  }
}
@media (max-width: 321px) {
  blockquote {
    width: 230px;
  }
}
@media (max-width: 650px) {
  section.extend-reading {
    width: 300px;
    margin: auto;
    padding-bottom: 0;
  }
}
section.extend-reading h3 {
  margin-top: 30px;
  border-bottom: 1px solid #95989a;
  font-size: 17px;
}
section.extend-reading .keywords {
  height: auto;
  padding: 20px 0;
}
section.extend-reading ul {
  padding: 20px 0;
  margin: auto;
  text-transform: uppercase;
  display: inline-block;
}
section.extend-reading li {
  font-size: 18px;
  margin-bottom: 1.3rem;
  color: #999;
  line-height: 25px;
  position: relative;
  padding-left: 10px;
  float: left;
  width: 31.333333333%;
  min-height: 200px;
}
section.extend-reading li a {
  color: #1ea0c3;
  font-size: 17px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  cursor: pointer;
}
section.extend-reading li>a {
  margin-top: 5px;
}
section.extend-reading li a:hover {
  color: #3c00b4;
}
section.keyword {
  margin-bottom: 25px;
}
section.keyword .keywords {
  padding: 0;
  height: auto;
}
section.keyword h4 {
  border-bottom: 0;
}
section.download {
  padding: 10px 0;
  border-bottom: 1px solid #989898;
  border-top: 1px solid #989898;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
section.download span {
  font-weight: 700;
}
section.download a.nextArticle {
  float: left;
  width: 300px;
  overflow: hidden;
  background: url(../images/Forward-arrow.png)
    no-repeat 100%;
  padding-left: 4em;
  padding-right: 1.7em;
  margin-bottom: 5px;
  text-align: right;
  position: relative;
  top: 5px;
  min-height: 17px;
}
@media (max-width: 650px) {
  section.download a.nextArticle {
    width: 75%;
    padding-left: 0;
  }
}
section.download a.nextArticle span {
  color: #1ea0c3;
}
section.list-link {
  padding: 50px 0 100px;
}
section.list-link ul.etu-item-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 0;
}
section.list-link ul.etu-item-list li a .interest-list-link-img {
  width: 30%;
}
section.list-link ul.etu-item-list li a .interest-list-link-img img {
  width: 100%;
}
section.list-link ul.etu-item-list li .interest-list-link-title {
  padding-left: 2%;
  width: 68%;
}
@media (max-width: 650px) {
  section.list-link ul.etu-item-list li .interest-list-link-title h3 {
    text-align: justify;
    padding: 0;
    font-size: 15px;
  }
}
.bottom-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  z-index: 100;
}
.bottom-bar .container {
  width: 970px;
}
@media (max-width: 1025px) {
  .bottom-bar .container {
    width: 100%;
  }
}
.bottom-bar:hover .btn-lookmore img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.bar-view {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
}
.bar-view a {
  display: block;
  padding: 6px 5px 8px;
  color: #fff;
  font-weight: 400;
  background-color: #583b9c;
  border-color: #583b9c;
  border-style: solid;
  border-width: 2px 2px 0 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 7px solid #280965;
}
.bar-view a:hover {
  color: #1ea0c3 !important;
  font-weight: 700;
  background-color: #fff;
  border-color: #1ea0c3;
  border-width: 2px 2px 7px;
}
.bar-expand {
  display: none;
  background: #fff;
  color: #333;
  padding: 10px 10px 20px;
}
.btn-lookmore img {
  width: 16px;
  top: 2px;
  left: 5px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.bar-expand a.btn-linkto {
  display: inline-block;
  background: #583b9c;
  padding: 6px 16px 8px 17px;
  margin-top: 12px;
  color: #fff;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 2px;
}
.bar-expand a.btn-linkto:hover {
  background: #1ea0c3;
}
@media (max-width: 768px) {
  .bottom-bar .container {
    padding-left: 0;
    padding-right: 0;
  }
  .bar-view a {
    border-bottom: 14px solid #280965;
  }
}
.black {
  background-color: #000;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}
@-webkit-keyframes duang {
  0% {
    -webkit-box-shadow: 0 0 0 #000, 0 0.9vw 0 #fff, 0 1.8vw 0 #fff,
      0.9vw 0 0 #fff, 0.9vw 0.9vw 0 #fff, 0.9vw 1.8vw 0 #fff, 1.8vw 0 0 #fff,
      1.8vw 0.9vw 0 #fff, 1.8vw 1.8vw 0 #fff;
    box-shadow: 0 0 0 #000, 0 0.9vw 0 #fff, 0 1.8vw 0 #fff, 0.9vw 0 0 #fff,
      0.9vw 0.9vw 0 #fff, 0.9vw 1.8vw 0 #fff, 1.8vw 0 0 #fff, 1.8vw 0.9vw 0 #fff,
      1.8vw 1.8vw 0 #fff;
  }
  to {
    -webkit-box-shadow: 0 0 0 #000, 0 1vw 0 #fff, 0 2vw 0 #fff, 1vw 0 0 #fff,
      1vw 1vw 0 #fff, 1vw 2vw 0 #fff, 2vw 0 0 #fff, 2vw 1vw 0 #fff,
      2vw 2vw 0 #fff;
    box-shadow: 0 0 0 #000, 0 1vw 0 #fff, 0 2vw 0 #fff, 1vw 0 0 #fff,
      1vw 1vw 0 #fff, 1vw 2vw 0 #fff, 2vw 0 0 #fff, 2vw 1vw 0 #fff,
      2vw 2vw 0 #fff;
  }
}
@keyframes duang {
  0% {
    -webkit-box-shadow: 0 0 0 #000, 0 0.9vw 0 #fff, 0 1.8vw 0 #fff,
      0.9vw 0 0 #fff, 0.9vw 0.9vw 0 #fff, 0.9vw 1.8vw 0 #fff, 1.8vw 0 0 #fff,
      1.8vw 0.9vw 0 #fff, 1.8vw 1.8vw 0 #fff;
    box-shadow: 0 0 0 #000, 0 0.9vw 0 #fff, 0 1.8vw 0 #fff, 0.9vw 0 0 #fff,
      0.9vw 0.9vw 0 #fff, 0.9vw 1.8vw 0 #fff, 1.8vw 0 0 #fff, 1.8vw 0.9vw 0 #fff,
      1.8vw 1.8vw 0 #fff;
  }
  to {
    -webkit-box-shadow: 0 0 0 #000, 0 1vw 0 #fff, 0 2vw 0 #fff, 1vw 0 0 #fff,
      1vw 1vw 0 #fff, 1vw 2vw 0 #fff, 2vw 0 0 #fff, 2vw 1vw 0 #fff,
      2vw 2vw 0 #fff;
    box-shadow: 0 0 0 #000, 0 1vw 0 #fff, 0 2vw 0 #fff, 1vw 0 0 #fff,
      1vw 1vw 0 #fff, 1vw 2vw 0 #fff, 2vw 0 0 #fff, 2vw 1vw 0 #fff,
      2vw 2vw 0 #fff;
  }
}
.loading {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #333 url(../images/loading.gif)
    no-repeat 50%;
}
.fullPage {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: hsla(0, 0%, 7%, 0.9);
  right: 0;
  margin: auto;
  z-index: 1001;
}
@media (max-width: 650px) {
  .fullPage {
    background: #111;
  }
}
.fullPage .fullPage-contain {
  width: 720px;
  height: 600px;
  overflow-y: auto;
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 1025px) {
  .fullPage .fullPage-contain {
    width: 90%;
  }
}
@media (max-width: 650px) {
  .fullPage .fullPage-contain {
    height: 100%;
    top: 10%;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
}
.fullPage .fullPage-contain hr {
  border-bottom: 1px solid #f5f5f5;
  padding-top: 80px;
  cursor: pointer;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
@media (max-width: 650px) {
  .fullPage .fullPage-contain hr {
    padding-top: 60px;
  }
}
.fullPage .fullPage-contain hr:before {
  content: url(../images/close.png);
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 650px) {
  .fullPage .fullPage-contain hr:before {
    top: 10px;
  }
}
.fullPage .fullPage-contain .otherBtn {
  margin: 40px auto;
  border-top: 1px solid #fff;
  padding: 20px 0;
}
.fullPage .fullPage-contain .otherBtn .pageClose {
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  float: left;
  height: 34px;
  cursor: pointer;
}
.fullPage .fullPage-contain .otherBtn .pageClose:before {
  content: url(../images/close.png);
}
.fullPage .fullPage-contain h1 {
  font-size: 35px;
  font-weight: 400;
  padding: 5px 0 20px;
  color: #fff;
}
@media (max-width: 1850px) {
  .fullPage .fullPage-contain h1 {
    font-size: 30px;
  }
}
.fullPage .fullPage-contain h5 {
  padding-top: 35px;
  font-size: 20px;
}
@media (max-width: 1850px) {
  .fullPage .fullPage-contain h5 {
    font-size: 15px;
  }
}
@media (max-width: 650px) {
  .fullPage .fullPage-contain h5 {
    padding-top: 20px;
  }
}
.fullPage .fullPage-contain a {
  color: #1ea0c3;
}
.fullPage .fullPage-contain a:hover {
  color: #3c00b4;
}
.fullPage .fullPage-contain p {
  color: #fff;
  text-align: justify;
  font-size: 15px;
  line-height: 26px;
  margin: 1em 0;
}
.fullPage .fullPage-contain span {
  color: #fff;
}
.fullPage .fullPage-contain .operate {
  margin: 10px 0;
}
.fullPage .fullPage-contain .operate span {
  margin-right: 20px;
  line-height: 1.6rem;
}
.fullPage .fullPage-contain .article-icon {
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fullPage .fullPage-contain .article-icon .icon-fb {
  display: inline-block;
  height: 28px;
  width: 28px;
  border: none;
  background-color: #fff;
  margin-top: 0;
  margin-left: -5px;
  vertical-align: top;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-right: 30px;
  -webkit-mask: url(../images/facebook.svg)
    no-repeat center center;
  -webkit-mask-size: 100%;
}
.fullPage .fullPage-contain .article-icon .icon-fb:hover {
  background-color: #1ea0c3;
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .fullPage .fullPage-contain .article-icon .icon-fb {
    background: url(../images/fb.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
@supports (-ms-ime-align: auto) {
  .fullPage .fullPage-contain .article-icon .icon-fb {
    background: url(../images/fb.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
.fullPage .fullPage-contain .article-icon span {
  color: #fff;
}
.fullPage .fullPage-contain .article-icon time {
  position: absolute;
  right: 10px;
  color: #969696;
  font-size: 13px;
}
.covered {
  position: absolute;
  background: #000;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  background-size: cover;
}
.covered:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(80%, rgba(0, 0, 0, 0.75))
  );
  background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.75) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#80000000",GradientType=0);
}
@media (max-width: 650px) {
  .covered {
    top: 60px;
  }
}
.covered img {
  display: none;
}
div.global-detail {
  position: absolute;
  bottom: 50px;
  left: 50px;
  margin: auto;
  width: 30vw;
  height: auto;
  z-index: 5;
}
@media (max-width: 1850px) {
  div.global-detail {
    width: 65vw;
  }
}
@media (max-width: 650px) {
  div.global-detail {
    width: 85%;
    left: 30px;
    bottom: 80px;
  }
}
div.global-detail .detail-tittle {
  font-size: 38px;
  color: #fff;
  max-height: 90px;
  margin-bottom: 10px;
  line-height: 45px;
  overflow: hidden;
}
@media (max-width: 1850px) {
  div.global-detail .detail-tittle {
    font-size: 30px;
    max-height: 70px;
    margin-bottom: 5px;
    line-height: 35px;
  }
}
div.global-detail .detail-descript {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding-bottom: 10px;
  text-align: justify;
  font-weight: lighter;
}
@media (max-width: 1850px) {
  div.global-detail .detail-descript {
    font-size: 16px;
    line-height: 25px;
  }
}
div.global-detail span {
  cursor: pointer;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
div.global-detail span:before {
  content: url(../images/Add.png);
  color: #fff;
  padding-right: 10px;
}
div.global-detail span.morecity {
  vertical-align: top;
  margin-left: 20px;
}
div.global-detail span.morecity:before {
  content: url(../images/eye.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div.global-detail span.morecity a {
  color: #fff;
}
div.Jiugongge {
  margin: auto;
  z-index: 5;
  cursor: pointer;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 40px;
}
div.Jiugongge:before {
  content: url(https://futurecity.cw.com.tw/assets/images/eye.svg);
  color: #fff;
  padding-right: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 40px;
  height: 32px;
  padding-bottom: 2px;
}
ul.global-box {
  position: absolute;
  top: 60px;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}
@media (max-width: 650px) {
  ul.global-box {
    top: 49px;
  }
}
ul.global-box.hide {
  width: 0;
  height: 0%;
  right: 0;
  opacity: 0;
  bottom: 0;
  background-color: #000;
  position: fixed;
  z-index: -1;
}
li.thumb {
  position: relative;
  float: left;
  width: 25%;
  height: 30%;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}
@media (max-width: 1600px) {
  li.thumb {
    height: 25%;
  }
}
@media (max-width: 1280px) {
  li.thumb {
    height: 20%;
  }
}
@media (max-width: 1025px) {
  li.thumb {
    width: 100%;
    height: 40%;
  }
}
@media (max-width: 650px) {
  li.thumb {
    height: 35%;
  }
}
li.thumb img {
  width: 150%;
  opacity: 0.3;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 1s;
  transition: all 1s;
}
@media (max-width: 1367px) {
  li.thumb img {
    width: 160%;
  }
}
@media (max-width: 1025px) {
  li.thumb img {
    width: 100%;
  }
}
@media (max-width: 650px) {
  li.thumb img {
    width: 150%;
  }
}
li.thumb img:hover {
  opacity: 1;
}
li.thumb a .bg {
  top: 0;
  z-index: -1;
  left: 0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
li.thumb a .bg,
li.thumb a .bg:before {
  position: absolute;
  width: 100%;
  height: 100%;
}
li.thumb a .bg:before {
  content: "";
  background-color: #000;
}
li.thumb a .bg .city-box {
  text-align: center;
  width: 300px;
  height: 160px;
  margin: auto;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: relative;
  top: 58%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 1850px) {
  li.thumb a .bg .city-box {
    width: 200px;
  }
}
@media (max-width: 1025px) {
  li.thumb a .bg .city-box {
    width: 80%;
  }
}
li.thumb a .bg .city-box h5 {
  font-size: 20px;
  margin-bottom: 10px;
  overflow: hidden;
}
@media (max-width: 1850px) {
  li.thumb a .bg .city-box h5 {
    font-size: 15px;
  }
}
@media (max-width: 1025px) {
  li.thumb a .bg .city-box h5 {
    height: auto;
  }
}
@media (max-width: 650px) {
  li.thumb a .bg .city-box h5 {
    margin-top: 20px;
  }
}
li.thumb a .bg .city-box p {
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
  overflow: hidden;
}
@media (max-width: 1850px) {
  li.thumb a .bg .city-box p {
    font-size: 1.8rem;
  }
}
@media (max-width: 650px) {
  li.thumb a .bg .city-box p {
    font-size: 30px;
    height: 28px;
    margin-top: 10px;
  }
}
li.thumb a .bg .city-box .eye:after {
  background-image: url(../images/eye.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  content: "";
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.PartnerLogo {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.PartnerLogo,
.PartnerLogo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.PartnerLogo a {
  width: 160px;
  height: 100px;
  margin: 10px 38px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 517px) {
  .PartnerLogo {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .PartnerLogo a {
    width: 130px;
    height: 100px;
    margin: 10px;
  }
}
.NotFound {
  margin: 20px auto;
  padding-top: 95px;
  text-align: center;
}
@media (max-width: 650px) {
  .NotFound h1 {
    font-size: 30px;
  }
}
.NotFound .NotFound-icon {
  margin: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 300px;
}
.NotFound .NotFound-icon a {
  width: 65px;
}
.NotFound .NotFound-icon li.icon-search {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: none;
  background-color: #000;
  margin-top: 0;
  margin-left: -5px;
  vertical-align: top;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-right: 30px;
  -webkit-mask: url(../images/Search.svg)
    no-repeat center center;
  -webkit-mask-size: 100%;
  margin: 0 0 10px;
  background-size: 100% 100% !important;
}
.NotFound .NotFound-icon li.icon-search:hover {
  background-color: #1ea0c3;
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .NotFound .NotFound-icon li.icon-search {
    background: url(../images/pc-search.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
@supports (-ms-ime-align: auto) {
  .NotFound .NotFound-icon li.icon-search {
    background: url(../images/pc-search.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
.NotFound .NotFound-icon li.icon-mail {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: none;
  background-color: #000;
  margin-top: 0;
  margin-left: -5px;
  vertical-align: top;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-right: 30px;
  -webkit-mask: url(../images/mail_white.svg)
    no-repeat center center;
  -webkit-mask-size: 100%;
  margin: 0 0 10px;
  background-size: 100% 100% !important;
}
.NotFound .NotFound-icon li.icon-mail:hover {
  background-color: #1ea0c3;
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .NotFound .NotFound-icon li.icon-mail {
    background: url(../images/mail_gray.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
@supports (-ms-ime-align: auto) {
  .NotFound .NotFound-icon li.icon-mail {
    background: url(../images/mail_gray.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
.NotFound .NotFound-icon li.icon-home {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: none;
  background-color: #000;
  margin-top: 0;
  margin-left: -5px;
  vertical-align: top;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-right: 30px;
  -webkit-mask: url(../images/home.png) no-repeat
    center center;
  -webkit-mask-size: 100%;
  margin: 0 0 10px;
  background-size: 100% 100% !important;
}
.NotFound .NotFound-icon li.icon-home:hover {
  background-color: #1ea0c3;
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .NotFound .NotFound-icon li.icon-home {
    background: url(../images/home.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }
}
.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}
.infogram-embed,
.youtube-embed-wrapper {
  margin-bottom: 1.85em;
}
#cookie-bar {
  margin: 0;
  background-color: #000;
  width: 100%;
  padding: 1rem;
  line-height: 1.5;
  text-align: justify;
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
#cookie-bar p {
  color: #fff;
}
#cookie-bar a {
  display: inline;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding: 0 2px;
  cursor: pointer;
}
#cookie-bar .cookies-a a {
  display: block;
  width: 130px;
  color: #3c00b4;
  font-weight: 400;
  background-color: #fff;
  border: none;
  text-align: center;
  margin: auto;
  padding: 7px 0;
  margin-top: 1rem;
  cursor: pointer;
}
#cookie-bar .cookies-a a:hover {
  background-color: #3c00b4;
  color: #fff !important;
}
@media (min-width: 767px) {
  #cookie-bar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%;
    max-width: 1100px;
    margin: auto;
  }
  #cookie-bar .container .cookies-txt {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    margin-right: 1rem;
  }
  #cookie-bar .cookies-a a {
    margin: auto;
  }
}
.views {
  display: inline-block;
  height: 23px;
  width: auto;
  border: none;
  margin-top: 3px;
  margin-left: -5px;
  vertical-align: top;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-right: 30px;
}
.views .fa-eye {
  font-size: 15px;
  color: #636569;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-eye:before {
  content: "\F06E";
  font-size: 20px;
}
.views .count {
  display: inline-block;
  font-size: 15px;
  color: #636569;
}
.newarticle {
  padding-bottom: 20px;
}
.newarticle ul {
  padding: 10px;
}
.newarticle li {
  padding: 10px 0;
}
.newarticle .number:nth-child(n):before {
  content: "";
  width: 30px;
  height: 30px;
  padding-right: 5px;
  background-image: url(../images/dorts.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: 6px;
}
.extend-reading .content-ad {
  font-size: 17px;
  line-height: 1.8;
  margin: 1.85em 0;
  width: 100%;
}
.extend-reading .content-ad img {
  width: 100%;
}
.extend-reading .content-ad .content-ad_pc {
  display: block;
}
.extend-reading .content-ad .content-ad_mb {
  display: none;
}
@media (max-width: 650px) {
  .extend-reading .content-ad .content-ad_pc {
    display: none;
  }
  .extend-reading .content-ad .content-ad_mb {
    display: block;
  }
}
div[id*="ad"] {
  width: 100% !important;
  overflow: hidden;
}
.reading_img {
  position: relative;
  overflow: hidden;
  padding-top: 66.98412698412697%;
}
.reading_img a {
  display: block;
  line-height: 1.4;
}
.reading_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
section.nevin .reading_img img{
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
section.nevin .reading_img img:hover{
  -webkit-transform: translate(-50%, -50%) scale(1.1);
  transform: translate(-50%, -50%) scale(1.1);
}

section.extend-reading .videoRecommend {
  clear: both;
  width: 100%;
  margin: auto;
}
section.extend-reading .videoRecommend .list-link {
  width: 620px;
  float: left;
  margin-right: 20px;
  margin-bottom: 25px;
  max-width: 100%;
  padding: 0 0 50px;
}
section.extend-reading .videoRecommend h3 {
  margin-top: 0;
  border-bottom: 1px solid #95989a;
  font-size: 17px;
  margin-bottom: 15px;
}
section.extend-reading .videoRecommend h3 span {
  font-size: 17px;
  color: #888;
  margin-left: 7px;
  font-weight: 400;
}
.videoRecommend .fb_link,
.videoRecommend .youtube_link {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.fb_link .fb_iframe,
.videoRecommend .fb_link iframe,
.videoRecommend .youtube_link iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.recommendarticle {
  padding-bottom: 20px;
  width: 300px;
  margin: auto;
}
.recommendarticle ul {
  padding: 10px;
}
.recommendarticle li {
  padding: 10px 0;
}
.recommendarticle .number:nth-child(n):before {
  content: "";
  width: 30px;
  height: 30px;
  padding-right: 5px;
  background-image: url(../images/dorts.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: 6px;
}
.newarticle .number,
.recommendarticle .number {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 767px) {
  .extend-reading .content-ad,
  .extend-reading .content-ad iframe {
    width: 100% !important;
  }
  section.extend-reading li {
    padding-left: 10px;
    width: 45%;
  }
}
@media (max-width: 650px) {
  section.extend-reading ul {
    width: 100%;
  }
  section.extend-reading li {
    padding-left: 0;
    width: 100%;
    height: 80px;
    min-height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .reading_img {
    position: relative;
    overflow: hidden;
    padding-top: 0;
    width: 100px;
    min-width: 100px;
    height: 80px;
    min-height: 80px;
    margin-right: 12px;
  }
  section.extend-reading .videoRecommend .list-link {
    width: 620px;
    float: none;
    margin-right: 20px;
    margin-bottom: 25px;
    max-width: 300px;
    margin: auto;
    padding: 0;
  }
}
.right_btn {
  position: fixed;
  right: 20px;
  bottom: 75px;
  z-index: 999;
}
.right_btn .icon_bg {
  background-color: #f5f5f5;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 5px #3333334d;
  box-shadow: 0 0 5px #3333334d;
  width: 40px;
  height: 40px;
  margin: 10px auto;
}
.right_btn .icon-fb {
  background-color: #45629e;
  margin: 9px;
}
.right_btn .icon-fb:hover {
  background-color: #193f8d;
}
.right_btn .icon-line {
  background-color: #04b800;
  margin: 10px 10px 10px 9px;
}
.right_btn .icon-line:hover {
  background-color: #039c00;
}
.right_btn .gotop {
  cursor: pointer;
  height: 22px;
  width: 22px;
  margin: auto;
  padding-top: 8px;
}
@media (max-width: 415px) {
  .right_btn {
    position: fixed;
    right: 10px;
    bottom: 50px;
  }
}
#msg {
  color: #fff;
  font-size: 49px;
  position: absolute;
  bottom: 0;
  right: 20%;
}
.air_title {
  font-size: 12px;
  margin-bottom: 10px;
}
.air_box_num {
  position: relative;
  width: 100%;
}
.air_box_num img {
  width: 100%;
}
.airBox_large {
  background: #111;
  padding: 20px 15px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 270px;
  width: 100%;
}
@media (max-width: 767px) {
  .airBox_large {
    background: #111;
    padding: 20px 15px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 270px;
    width: 100%;
  }
}
.putIn_mb {
  margin: 20px 0 50px;
}
.brief_word {
  margin-left: 15px;
  position: relative;
  line-height: 18px;
  font-size: 14px;
}
.brief_word,
.building {
  margin-top: 10px;
}
.air_title1:before {
  background-image: url(../images/here.svg);
}
.air_title1:before,
.air_title2:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  width: 12px;
  height: 18px;
  background-size: 12px 18px;
  background-repeat: no-repeat;
}
.air_title2:before {
  background-image: url(../images/here2.svg);
}
.air_title3:before {
  background-image: url(../images/here3.svg);
}
.air_title3:before,
.air_title4:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  width: 12px;
  height: 18px;
  background-size: 12px 18px;
  background-repeat: no-repeat;
}
.air_title4:before {
  background-image: url(../images/here4.svg);
}
.air_box_num .airNum {
  height: 39px;
  background-image: url(../images/airNum.svg);
  background-size: 270px 39px;
}
.air_box_num .airNum,
.building {
  width: 270px;
  background-repeat: no-repeat;
}
.building {
  height: 103px;
  background-size: 270px 103px;
}
.building.level1 {
  background-image: url(../images/level1.svg);
}
.building.level2 {
  background-image: url(../images/level2.svg);
}
.building.level3 {
  background-image: url(../images/level3.svg);
}
.building.level4 {
  background-image: url(../images/level4.svg);
}
.info_pic {
  width: 15px;
  vertical-align: middle;
}
.sponsorTag {
  font-size: 16px;
  margin-top: 15px;
  line-height: 1.6rem;
}
@media (max-width: 415px) {
  .sponsorTag {
    line-height: 1rem;
  }
}
.bdrs {
  border-bottom: 1px dashed #333;
  color: #333;
}
.bdrs,
.bdrs_b {
  border-left: none;
  padding: 5px;
}
.bdrs_b {
  border-bottom: 1px dashed #3f05b5;
  color: #3f05b5;
}
section.sponsorsList h2 {
  border-bottom: 1px solid #3f05b5;
  padding: 6px 0;
  position: relative;
  color: #3f05b5;
  font-size: 125%;
  line-height: 1;
  margin-bottom: 1.5rem;
}
section.sponsorsList h2 span {
  padding-left: 13px;
  font-size: 65%;
  font-weight: 400;
  position: absolute;
  right: 6px;
  top: 10px;
  cursor: pointer;
}
section.sponsorsList h2 span:after,
section.sponsorsList h2 span:before {
  content: "";
  width: 9px;
  height: 1px;
  background-color: #255b24;
  position: absolute;
  left: 0;
  top: 5.5px;
}
section.sponsorsList h2 span:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
section.sponsorsList .yearList.show h2 span:after {
  opacity: 0;
}
section.sponsorsList .yearList section {
  display: none;
}
section.sponsorsList .yearList:first-child section {
  display: block;
}
@media (min-width: 767px) {
  section.sponsorsList h2 span {
    padding: 4px 4px 4px 17px;
    top: 8px;
    border-radius: 2px;
  }
  section.sponsorsList h2 span:after,
  section.sponsorsList h2 span:before {
    top: 9.5px;
    left: 4px;
  }
}
.main .left-box h1 {
  display: none;
}